{% extends "ToDoApp/base.html" %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Contenu</th>
            <th scope="col">Valide</th>
            <th scope="col">Favori</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>{{ todo.contenu }}</td>
                {% if todo.valide %}
                    <td><i class="fa-solid fa-circle-check" style="color: #66aa66"></i></td>
                {% else %}
                    <td><i class="fa-solid fa-circle-xmark" style="color: #e32636"></i></td>
                {% endif %}
                <!-- {% if todo.favori %}
                    <td><i class="fa-solid fa-star" style="color: #ffd966"></i></td>
                {% else %}
                    <td><i class="fa-solid fa-star" style="color: #ffffff"></i></td>
                {% endif %} -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url "add" %}" type="button" class="btn btn-primary">Ajouter un ToDo</a>
{% endblock %}